.main__my-organization {
    background-color: #121825;
    margin-top: 37px;
    padding: 24px 34px;
    border-bottom: 1px solid #222B44;
    border-radius: 20px 20px 0 0;
    @media(max-width:800px) {
        padding: 20px;
    }
}


.main {
    background-color: rgba(18, 24, 37);
    padding: 29px 34px 45px;
    border-radius: 0 0 20px 20px;
    @media(max-width:800px) {
        padding: 20px;
    }
    button {
        background-color: #121825;
        border: none;
        cursor: pointer;
    }

    .form {
        h2 {
            margin-bottom: 24px;
        }

        &__input {
            margin-bottom: 24px;
            border: 2px solid #313E62;
            border-radius: 15px;
            padding: 12px;
            display: flex;
            align-items: center;
            gap: 10px;

            button {
                background-image: url('../../../public/images/subtract.svg');
                width: 16px;
                height: 16px;
                background-color: #121825;
                border: none;
                cursor: pointer;
            }

            input {
                padding: 3px;
                font-size: 18px;
                color: #ffffff;
                background-color: #121825;
                border: none;
                outline: none;
            }
        }

    }

    .main__table {
        width: 100%;
        text-align: center;

        thead {
            background-color: black;
            height: 46px;
            color: #9CA3AF;
            border-radius: 15px;
            .sort-down {
                background-image: url('../../../public/images/sort.svg');
                width: 9px;
                height: 14px;
            }
            .sort-top{
                transform: rotate(180deg);
                background-image: url('../../../public/images/sort.svg');
                width: 9px;
                height: 14px;
            }

        }

        tbody {
            td {
                border-bottom: solid #222B44 1px;
                padding: 20px 0;
                font-size: 14px;
                .corect{
                    background-image: url('../../../public/images/corect.svg');
                    margin-right: 10px;
                    width: 14px;
                    height: 15px;
                }
                .delete{
                    background-image: url('../../../public/images/delete.svg');
                    width: 11px;
                    height: 14px;
                }
                &.click{
                    cursor: pointer;
                    &:hover{
                        color: #9CA3AF;
                    }
                }
            }
        }
        .adaptiv-1 {
            @media(max-width:830px) {
                display: none;
            }
        }
        .adaptiv-2 {
            @media(max-width:800px) {
                display: none;
            }
        }
        .adaptiv-3 {
            @media(max-width:600px) {
                display: none;
            }
        }
        .adaptiv-4 {
            @media(max-width:750px) {
                display: none;
            }
        }
        .adaptiv-5 {
            @media(max-width:540px) {
                display: none;
            }
        }
    }

    &__pages {
        margin-top: 24px;
        display: flex;
        justify-content: center;

        &-full {
            display: flex;
            gap: 12px;
            align-items: center;


            &-left {
                background-image: url('../../../public/images/left.svg');
                width: 10px;
                height: 6px;
            }

            &-right {
                background-image: url('../../../public/images/right.svg');
                width: 10px;
                height: 6px;
            }
            &-num{
                color: white;
                display: flex;
                gap: 4px;
                button{
                    color: white;
                    padding: 6px 14px;
                    border-radius: 5px;
                }
                button.active{
                    background-color: #1C64F2;
                }
            }
        }

        &-page-num {
            display: flex;
        }
    }
}

.open-transaction{
    background-color: rgba(18, 24, 37, 0.60);
}