.main__my-organization {
    background-color: #121825;
    margin-top: 37px;
    padding: 24px 34px;
    border-bottom: 1px solid #222B44;
}


.main {
    background-color: #121825;
    padding: 29px 34px 45px;
    .form{
        h2{
            margin-bottom: 24px;
        }
    }
}