.header {
    background-color: #121825;
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    border-radius: 20px;

    &__left {
        display: flex;
        gap: 70px;

        a {
            font-size: 35px;
            font-weight: bold;
            text-decoration: none;
            color: white;
        }

        &-org {
            img {
                width: 16px;
            }

            font-size: 16px;
            display: flex;
            gap: 10px;
            align-items: center;
        }
    }

    &__right {
        display: flex;
        gap: 12px;
        align-items: center;
        max-width: 176px;
        padding: 8px 12px;
        border: solid 1px #222B44;
        border-radius: 10px;
        cursor: pointer;

        p {
            font-size: 10px;
            color: gray;

            span {
                color: white;
                font-size: 12px;
            }
        }
    }
}